###########################
#WebStorm Files
###########################
.idea/
*ipr
*.iml

###########################
#NPM Files
###########################
node_modules
npm-debug.log


###########################
#IODocs Server files
#(Used for testing locally)
###########################
iodocs/server/


###########################
#Local Files
###########################
_files


###########################
#Misc Files
###########################
.DS_Store

