extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Titanium POC API Server

    footer.container.text-center
        p &copy; 2014 Intelligrape Software Pvt Ltd.